@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

@* Required *@
<MudThemeProvider IsDarkMode="@isDarkMode" />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <h1>FHIR Concept Map Builder</h1>
        <MudSpacer />
        <MudIconButton Icon="@modeIcon" Color="Color.Inherit" Edge="Edge.End" OnClick="() => toggleDarkMode()" />
    </MudAppBar>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
@code {
    bool isDarkMode;
    string modeIcon = Icons.Material.Filled.WbSunny;
    bool initialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isDarkMode = await JSRuntime.InvokeAsync<bool>("eval", "window.matchMedia('(prefers-color-scheme: dark)').matches");
            modeIcon = isDarkMode ? Icons.Material.Filled.WbSunny : Icons.Material.Filled.NightsStay;
            initialized = true;
            StateHasChanged();
        }
    }

    void toggleDarkMode()
    {
        isDarkMode = !isDarkMode;
        modeIcon = isDarkMode ? Icons.Material.Filled.WbSunny : Icons.Material.Filled.NightsStay;
    }
}


