name: Deploy Blazor WebAssembly to GitHub Pages

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Publish Blazor WebAssembly
        run: dotnet publish -c Release -o publish

      # Fix base href for GitHub Pages
      - name: Update base href
        run: |
          sed -i 's|<base href="/" />|<base href="/FHIR-Concept-Map-Builder/" />|' publish/wwwroot/index.html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: publish/wwwroot
          publish_branch: gh-pages
